/********************************************************************** 
 * Global styles for the uPort-live application
 *
 * This is where we define background colors, fonts, and other styles 
 * consistent with the uPort aesthetic to maintain consistency with 
 * other uPort products
 * 
 *********************************************************************/

* {
  /* Border-box everywhere to keep us all sane */
  box-sizing: border-box;
}

body, h1, h2, h3 {
  font-family: 'Nunito Sans', sans-serif;
}

main {
  z-index: 2;
  background-color: #f1f1f1;
  min-height: 100vh;
  color: rgb(39, 39, 39);
}

#bodyContent {
  margin-top: 40px;
  color: #2b2b2b;
}

#bodyContent a {
  color: #5c50ca !important;
}

button {
  cursor: pointer;
}

pre {
  display: block;
  margin: 20px 0 15px 0;
  padding: 10px;
  background: #eee;
}

/** Override semantic */
a { 
  /** 
   * SEMANTIC IS DOING NASTY THINGS TO US.
   * SHOULD NOT HAVE TO USE !IMPORTANT 
   */
  color: #fff !important;
  font-weight: bold;
} 

a:hover {
  text-decoration: underline !important;  
}

/** 
 * Utility classes for common poisitoning use cases, could be repalced with framework classes,
 * but starting small
 */
.container {
  width: 100%;
  padding: 45px 20px;
}

/* For full-page content that should be front and center, e.g. the landing page or an error page */
.fullpage {
  margin: 5% auto 0 auto;
  width: 80%;
  text-align: center;
}

/* The logo, when displayed in banner/emphasis style */
.uport-logo {
  height: 10em;
  
}

/* Utility class for making things purple */
.purple {
  color: #5c50ca;
}

.uport-logo-icon {
  height: 16px;
  fill: #5C50CA;
  margin-right: 5px;
  /* Fix the baseline of the image to align with text */
  transform: translateY(2px);
}

/* Login button styles, could be moved */
.login-container {
  text-align: center;
}

.login-button {
  border-radius: 4px;
  border: none;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(63,61,75,.4);
  color: #5c50ca;
}

.login-button:hover {
  text-decoration: underline;
}

/* Logout button styles, could be moved */
.logout-container {
  text-align: center;
}

.logout-button {
  border-radius: 4px;
  border: none;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(63,61,75,.4);
  color: #5c50ca;
}

.logout-button:hover {
  text-decoration: underline;
}

.navButton {
  border-radius: 4px;
  border: none;
  padding: 10px 20px;
  background-color: #fff;
  box-shadow: 0 2px 2px 0 rgba(63,61,75,.3);
  color: #5c50ca;
}

/**********************************************************************
 * NAVBAR 
 * TODO: maybe pop navbar out into a separate stylesheet 
 *********************************************************************/
nav {
  position: fixed;
  width: 100%;
  height: 60px;
  white-space: nowrap;
  padding: 5px 15px;
  background: #5c50ca;
  box-shadow: 0 2px 2px 0 rgba(63,61,75,.4);
  font-size: 1.25rem;
  font-family: 'Nunito Sans', sans-serif;
  z-index: 50;
}

/* WIP/Idea: Add fingerprint swirls to navbar?? */
/* nav.background{
  background:url('../img/BG\ Swirls.wmf.jpg');
  filter:alpha(opacity=20);
  opacity: 0.3;
} */

.nav-heading {
  font-weight: bold;
  text-transform: none;
  display: inline-flex;
}

nav .nav-heading:hover,
nav .menu-item:hover {
  text-decoration-color:#fff;
}

li.menu-item {
  display: inline-block;
  margin: 0 0.25em;
}

.nav-heading a {
  padding: 5px;
}

a.menu-link {
  padding: 10px;
}

nav ul.navbar-right {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
}


/**********************************************************************
 * Footer
 * TODO: maybe pop navbar out into a separate stylesheet 
 *********************************************************************/

 footer {
  /* border-radius: 10px 10px 0px 0px; */
  width: 100%;
  height: 60px;
  white-space: nowrap;
  padding: 5px 15px;
  background: #333; /* #5c50ca; */
  font-size: 1.25rem;
  font-family: 'Nunito Sans', sans-serif;
 }

 .footer-desc {
  vertical-align: middle;
 }