/********************************************************************** 
 * Global styles for the uPort-live application
 *
 * This is where we define background colors, fonts, and other styles 
 * consistent with the uPort aesthetic to maintain consistency with 
 * other uPort products
 * 
 *********************************************************************/

* {
  /* Border-box everywhere to keep us all sane */
  box-sizing: border-box;
}

body, h1, h2, h3 {
  font-family: 'Open Sans', sans-serif;
}

main {
  background-color: #5C50CA;
  min-height: 100vh;
  color: #fff;
}

button {
  cursor: pointer;
}

pre {
  display: block;
  margin: 20px 0 15px 0;
  padding: 10px;
  background: #eee;
}

/** Override semantic */
a { 
  /** 
   * SEMANTIC IS DOING NASTY THINGS TO US.
   * SHOULD NOT HAVE TO USE !IMPORTANT 
   */
  color: #fff !important;
  font-weight: bold;
} 

a:hover {
  text-decoration: underline !important;  
}

/**
 * Spinner
 */
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% {  transform: rotate(359deg); }
}

.spinner-wrapper {
    text-align: center;
    margin-top: 25%;
}

.spinner {
    animation: spin 2s linear infinite;
    width: 200px;
    height: auto;
}

/** 
 * Utility classes for common poisitoning use cases, could be repalced with framework classes,
 * but starting small
 */
.container {
  width: 100%;
  padding: 45px 20px;
}

/* For full-page content that should be front and center, e.g. the landing page or an error page */
.fullpage {
  margin: 5% auto 0 auto;
  width: 80%;
  text-align: center;
}

/* The logo, when displayed in banner/emphasis style */
.uport-logo {
  height: 10em;
}

.uport-logo-icon {
  height: 16px;
  margin-right: 5px;
  /* Fix the baseline of the image to align with text */
  transform: translateY(2px);
}

/* Login button styles, could be moved */
.login-container {
  text-align: center;
}

.login-button {
  border-radius: 0.5em;
  border: none;
  background-color: transparent;
  color: #fff;
}

/**********************************************************************
 * NAVBAR 
 * TODO: maybe pop navbar out into a separate stylesheet 
 *********************************************************************/
nav {
  position: fixed;
  width: 100%;
  white-space: nowrap;
  padding: 5px 15px;
  background: #0c1a2b;
  font-size: 1.25rem;
  font-family: 'Open Sans', sans-serif;
}

.nav-heading {
  font-weight: bold;
  text-transform: none;
  display: inline-flex;
}

nav .nav-heading:hover,
nav .menu-item:hover {
  background: #233e5e;
}

li.menu-item {
  display: inline-block;
  margin: 0 0.25em;
}

.nav-heading a,
a.menu-link {
  color: #fff;
}

nav ul.navbar-right {
  float: right;
  list-style: none;
  margin: 0;
  padding: 0;
}
