/** Home.css */



div.imgbox {
	background-color: #d4d4d486;
	border: 1px solid #5c50ca86;
	border-radius: 100px;
	width: 200px;
	margin:auto;
}

img.feature {
	width: 200px;
	height: auto;
	padding: 40px;
}

#imagerow {
	width: auto !important;
}