/**
 * Styles for the uport modal, adapted form uport-connect/src/util/QRUtil.js
 */

.modal {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 100;

	background-color: #aaaaaadd; /*rgba(0,0,0,0.8);*/
}

.modal-content {
	position: relative;
	margin: 0 auto;
	padding: 1rem;

	background: #fff;
	z-index: 101;
	top: 50%;
	transform: translateY(-50%);
	
	border-radius:  8px;
	box-shadow:  0 12px 24px 0 rgba(0,0,0,0.1);

	width:  50%;
	text-align: center;
	overflow:  hidden;
}

@keyframes fadeIn {
	from { opacity: 0; }
	to { opacity: 1; }
}

.fade-in {
	animation-name: fadeIn;
	animation-duration: 1s;
	animation-fill-mode: both;
}

button.cancel {
	position: absolute;
	right: 0;
	top: 0;
	background-color: transparent;
	border: none;
	box-shadow: none;

	font-size: 1.5rem;
	padding: 0.5em;
}

button.cancel:hover {
	color: #aaa;
}